body {
  font-family: 'Lato', sans-serif;
  background-color: #f2f2f3;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  background-color: #3273dc;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem;

  &:disabled {
    background-color: rgba(0, 0, 0, 0.4) !important;
    cursor: not-allowed !important;
  }
}

.inputBox {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.otp_container {
  display: flex;
  align-items: center;
}

.form {
  min-width: 360px;
  padding: 2rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-radius: 4px;
  background: white;
  text-align: center;
  font-size: 1.5em;
}

.submission {
  margin-top: 1.6rem;
}

.error {
  border: 1px solid red !important;
}